@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

.data-card {
  font-family: 'Orbitron', sans-serif;
  border-radius: 0.5vw;
  overflow: auto;
  display: flex;
  flex-direction: column;
  height: 100%; /* Example height, adjust as needed */
  margin-bottom: 0vw; /* Space between DataCards */
  border-top-left-radius: 1vw;
  border-top-right-radius: 1vw;
  max-width: 1000px;
  width: calc((100% - .5vw) / 2);
  padding-top: .5vw;

}

.data-card-header {
  font-family: 'Orbitron', sans-serif;
  display: flex;
  align-items: left;
  justify-content: left;
  font-weight: bold;
  padding-left: 0.4vw;
  font-size: 1vw;
  height: 10%;
  font-weight: semi-bold;
  color: rgb(179, 171, 171);
  min-height: 10%;
}

.data-card-mask {
  background-color: rgba(255, 255, 255, 0.25); /* Light mask with 25% opacity */
  pointer-events: none; /* Allow interactions with underlying content */
  z-index: 1; /* Ensure the mask is below the content */
}

.insight-blocks {
  font-family: 'Orbitron', sans-serif;
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;
  height: 100%;
  gap: 1vw;
  max-width: 1000px;
}
