@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

.player-card {
  font-family: 'Orbitron', sans-serif;
  width: 100%; /* Adjust as needed */
  border: 0.3vw solid #000; /* Temporary border color, overridden by inline styles */
  border-radius: .5vw;
  margin-left: .2vw;
  margin-right: .2vw;
  margin-bottom: .2vw;
  margin-top: .2vw;
  overflow: auto;
  display: flex;
  flex-direction: column;
  font-size: 1.5vw;
  font-weight: semi-bold;
  max-width: 1000px;
  justify-content: center;
}
.MuiBox-root css-i9gxme{
    height: auto;

}
.player-card-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.05); /* Light mask with 25% opacity */
  pointer-events: none; /* Allow interactions with underlying content */
  z-index: 1; /* Ensure the mask is below the content */
}

.player-header {
  display: flex;
  align-items: center;
  padding-top: 2.5vw;
  padding-left: 1.5vw;
  height: auto;
  z-index: 2; /* Ensure content is above the mask */
  font-size: 1.5vw;
  color: white; /* Set font color to white */
  margin-bottom: 1vw;
  border-bottom: 0.3vw solid #0a0909;
  border-radius: 3vw;
}

.player-header img {
  width: 24vw;
  height: 16vw;
  border-radius: 10%;
  /* Border color is set inline */
  margin-right: 0vw;

}

.player-info {
    
  display: flex;
  flex-direction: column;
  width: 100%;
}

.player-info h2 {
    height: 100%;
  margin-bottom: 0vw;
  font-size: 3vw;
  gap: 0vw;
  display: flex;
  padding-bottom: 0.1vw;
  text-shadow: 0 .1vw .005vw rgba(0, 0, 0, 0.5); /* Added subtle shadow for a gamified look */
  /* Optionally, you can also change the font-family to something more game-like */
  /* font-family: 'Press Start 2P', cursive; */
}
.info-columns h3 {
    display: flex;
    align-items: left;
    justify-content: left;
    font-size: 1vw;
    color: rgb(179, 171, 171);
    padding-left: .4vw;
    padding-top: .2vw;
    padding-right: .1vw;
  }
.info-columns p {
    font-size: 1.5vw;
    display: flex;
  }
.player-name-icon {
  margin-left: .5vw;
  margin-bottom: 0.1vw;
  filter: drop-shadow(0 .1vw .1vw rgba(0, 0, 0, 0.5));
}

.css-1umw9bq-MuiSvgIcon-root {
  font-size: 2vw;
  padding-left: .5vw;
}
.player-info .info-columns {
  display: flex;
  flex-wrap: wrap;
  gap: 0vw;
}

.player-info .info-column {
  padding: .5vw;
  box-sizing: border-box;
  font-weight: semi-bold;

}

.player-info .info-columns p {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2vw;
}

.data-cards-container {
  display: flex;
  flex-direction: column;
  padding: 1vw;
  gap: 0vw; /* Space between DataCards */
  box-sizing: border-box;
  z-index: 2; /* Ensure content is above the mask */
}
